  <div class="branding" ng-hide="currentUser"><a ng-href="#/">Home</a></div>
  <div class="branding" ng-show="currentUser"><a ng-href="#/tasks">Home</a></div>
  <ul>
  	

  	
    <li><a ng-hide="currentUser" ng-href="#/login">Login</a></li>
    <li><a ng-hide="currentUser" ng-href="#/register">Register</a></li>
    <li><a ng-href="#/login" ng-click="logout()" ng-show="currentUser">Logout</a></li>
    <li><a ng-show="currentUser" ng-href="#/tasks">View All Tasks</a></li>
    <li><a ng-show="currentUser" ng-href="#/new">Create Task</a></li>
    <form name="myform"ng-submit="searchTasks(query)" 
    novalidate>
    	<li><a ng-show="currentUser" id="search" ng-click="searchTasks(query)" ng-disabled="myform.$invalid">Search</a></li>
    	<li ng-show="currentUser"> <input type="text" ng-model="query" placeholder="search for tasks" ng-required="true"></li>
    </form>
    
    
  </ul>
